/* ============================================= */
/*               Color Variables                 */
/* ============================================= */
$color-black: #000;
$color-grey: #777;
$color-white: #fff;
$color-teal: #30d3ad;
$color-blue: #40d8fa;

/* ============================================= */
/*              Media Query Variables            */
/* ============================================= */
$break: 768px;